In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

weight_ds = "/home/basic/Documents/Machine-learning/Pytorch-ML/Regression/brain_body_weight.txt"
df = pd.read_csv(weight_ds, skiprows=33,header=None)
#df = df.drop(df.columns[0],1)
#df = df.rename(columns={})
print(df.head())

#df.drop(df.columns[0],axis=1)
#print(df.head())

                        a
0   1     3.385    44.500
1   2     0.480    15.500
2   3     1.350     8.100
3   4   465.000   423.000
4   5    36.330   119.500

In [52]:
df.head(5)

                        0
0   1     3.385    44.500
1   2     0.480    15.500
2   3     1.350     8.100
3   4   465.000   423.000
4   5    36.330   119.500

In [49]:
df.columns

Int64Index([0], dtype='int64')

In [ ]:
|